.page-about {
    width: 80%;
    margin: 5px auto;
}
.flexbox {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}
.inline {
    display: inline-block;
    margin-top: auto;
    flex: 1 1 auto;
}
.center {
    width: 90%;
    margin: 0 auto;
}
